services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev # Specify the development stage
    privileged: true # Needed for mounting XFS
    volumes:
      - ./:/app

  test:
    profiles: ["test"] # This service will only run when explicitly requested
    build:
      context: .
      dockerfile: Dockerfile
      target: dev # Specify the development stage
    privileged: true
    volumes:
      - .:/app
    command:
      [
        "/bin/bash",
        "-c",
        "/usr/local/bin/mount-xfs.sh && python3 -m pytest -v /app/tests/tests.py",
      ]
    environment:
      - PYTHONPATH=/app
