apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "jupyterhub-home-nfs.home-nfs.fullname" . }}
  labels:
    {{- include "jupyterhub-home-nfs.labels" . | nindent 4 }}
    app.kubernetes.io/component: nfs-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nfs-server
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        {{- include "jupyterhub-home-nfs.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: nfs-server
        app: nfs-server
        # The component label is used by the shared volume free space panel
        # in jupyterhub/grafana-dashboards
        # https://github.com/jupyterhub/grafana-dashboards/blob/18ba92d98cd297951673850a4c92507479ec4ca2/dashboards/jupyterhub.jsonnet#L322
        component: shared-volume-metrics
      annotations:
        # checksum of the config file to trigger a deployment when the config changes
        checksum/ganesha-config: {{ include (print .Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/mounted-secret: {{ include (print .Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- with .Values.annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
      - name: nfs-server
        image: "{{ .Values.nfsServer.image.repository }}:{{ .Values.nfsServer.image.tag }}"
        ports:
        - name: nfs
          containerPort: 2049
        - name: mountd
          containerPort: 20048
        - name: rpcbind
          containerPort: 111
        securityContext:
          privileged: true
        volumeMounts:
        - name: home-directories
          mountPath: /export
        - name: ganesha-config
          mountPath: /etc/ganesha/ganesha.conf
          subPath: ganesha.conf
        resources: {{ toJson .Values.nfsServer.resources }}
      {{- if .Values.quotaEnforcer.enabled }}
      - name: enforce-xfs-quota
        image: "{{ .Values.quotaEnforcer.image.repository }}:{{ .Values.quotaEnforcer.image.tag }}"
        args: ["python", "-m", "jupyterhub_home_nfs.generate", "--config-file", "/etc/jupyterhub-home-nfs/mounted-secret/quota-enforcer-config.py"]
        securityContext:
          privileged: true
        ports:
        - name: metrics
          containerPort: 7500
        volumeMounts:
        - name: home-directories
          mountPath: /export
        - name: quota-enforcer-config
          mountPath: /etc/jupyterhub-home-nfs/mounted-secret
        resources: {{ toJson .Values.quotaEnforcer.resources }}
      {{- end }}
      {{- if .Values.autoResizer.enabled }}
      - name: auto-xfs-resizer
        # Use same image as quotaEnforcer as it has xfs_growfs
        image: "{{ .Values.quotaEnforcer.image.repository }}:{{ .Values.quotaEnforcer.image.tag }}"
        args:
        - /bin/bash
        - -c
        - |
          while true; do
            xfs_growfs /export
            sleep 5m
          done
        securityContext:
          privileged: true
        volumeMounts:
        - name: home-directories
          mountPath: /export
        resources: {{ toJson .Values.autoResizer.resources }}
      {{- end }}
      - name: node-exporter
        image: "{{ .Values.nodeExporter.image.repository }}:{{ .Values.nodeExporter.image.tag }}"
        args:
        # Disable default collectors; we only want filesystem metrics
        - --collector.disable-defaults
        - --collector.filesystem
        # Exclude some patterns of mount points to avoid collecting unnecessary metrics
        - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|etc|var/run/.+|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
        ports:
        - name: node-exporter
          containerPort: 9100
        volumeMounts:
        - name: home-directories
          # Mounting under /shared-volume to match path in dashboard definition in jupyterhub/grafana-dashboards
          mountPath: /shared-volume
          readOnly: true
        resources: {{ toJson .Values.nodeExporter.resources }}
      {{- with .Values.extraContainers }}
      {{- tpl (. | toYaml) $ | nindent 6 }}
      {{- end }}
      volumes:
      - name: home-directories
        persistentVolumeClaim:
          claimName: {{ include "jupyterhub-home-nfs.home-nfs.fullname" . }}
      - name: ganesha-config
        configMap:
          name: {{ include "jupyterhub-home-nfs.home-nfs.fullname" . }}-ganesha-config
      - name: quota-enforcer-config
        secret:
          secretName: {{ include "jupyterhub-home-nfs.home-nfs.fullname" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
